@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');


@font-face {
  font-family: 'Gazpacho';
  src: url(./fonts/Gazpacho\ Black.ttf);
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #181818;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 100000;
}

.menu-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8vh;
  background-color: transparent;
}

.sticky {
  background-color: #181818;
  height: 8vh;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 3px;
}

.cad-log {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  padding-right: 5%;
  gap: 10%;
}

.icone {
  width: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.icone a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5em;
  color: white;
  font-family: 'Outfit', sans-serif;
  font-weight: 800;
}

.menu-itens {
  width: 60vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 12%;
  padding-right: 5%;
  background-color: transparent;
}

.menu-itens a {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 400;
  color: white;
  font-family: 'Outfit', sans-serif;
}

#btn-ent {
  font-size: 1.2em;
  cursor: pointer;
  width: 12vw;
  height: 65%;
  border-radius: 2px;
  color: white;
  margin-left: 50%;
  font-family: 'Outfit', sans-serif;
  background: rgb(112, 21, 194);
  background: linear-gradient(48deg,
      rgba(112, 21, 194, 1) 0%,
      rgba(146, 47, 250, 1) 50%,
      rgba(196, 85, 255, 1) 100%);
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.644),
      rgba(0, 0, 0, 0.644));
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .banner video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .banner video {
    width: 100%;
    height: auto;
  }
}

.txt {
  position: absolute;
  top: 45%;
  left: 5%;
}

.title {
  font-size: 4em;
  color: white;
  font-family: 'Gazpacho', serif;
  text-align: left;
}

.txt-sec2 {
  font-size: 1.2em;
  color: white;
  font-family: 'Outfit', sans-serif;
}

.botoes-banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  margin-top: 5%;
}

.btn-banner {
  width: 14vw;
  height: 5vh;
  margin-right: 10%;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  background: rgb(112, 21, 194);
  background: linear-gradient(48deg,
      rgba(112, 21, 194, 1) 0%,
      rgba(146, 47, 250, 1) 50%,
      rgba(196, 85, 255, 1) 100%);
}

.container-txt {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #181818;
  width: 100%;
  padding-top: 5%;
}

.container-txt h3 {
  font-size: 4em;
  font-family: 'Gazpacho';
  font-weight: 600;
  color: white;
}

container-txt h3 {
  font-size: 4em;
  margin-top: 5%;
  font-family: 'Gazpacho';
  font-weight: 600;
  color: white;
}

.container-txt p {
  font-size: 1.4em;
  margin-top: 2%;
  font-family: 'Ourfit', sans-serif;
  font-weight: 200;
  color: white;
  width: 50%;
  text-align: center;
  padding-bottom: 3%;
}

.container-cards {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 5%;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #181818;
  justify-content: space-evenly;
}

.cards {
  width: 20%;
  height: 45vh;
  border-radius: 20px;
  background: rgb(112, 21, 194);
  background: linear-gradient(48deg,
      rgba(112, 21, 194, 1) 0%,
      rgba(146, 47, 250, 1) 50%,
      rgba(196, 85, 255, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-card {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-card h3 {
  margin-top: 5%;
  text-align: center;
  font-size: 1.5em;
  color: white;
  font-family: 'Gazpacho';
}

.content-card p {
  width: 98%;
  margin-top: 5%;
  font-size: 1em;
  color: white;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

.alinhar-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181818;
  width: 100%;
  padding-bottom: 2%;
}

.alinhar-btn button {
  width: 14vw;
  height: 5vh;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  background: rgb(112, 21, 194);
  background: linear-gradient(48deg,
      rgba(112, 21, 194, 1) 0%,
      rgba(146, 47, 250, 1) 50%,
      rgba(196, 85, 255, 1) 100%);
}

/*design biblioteca*/

.container-biblioteca {
  width: 100%;
  height: 100vh;
  padding-top: 15%;
  padding-bottom: 15%;
  background-color: #181818;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divisoria {
  width: 20%;
  height: 100%;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.card-vid {
  width: 100%;
  height: 60%;
  border: solid 5px white;
  background-color: #181818;
  margin-top: 2%;
}

.card-vid img {
  width: 100%;
  height: 100%;
}

#biblioteca {
  transition: 2s;
  opacity: 0;
}

/*Section Porque*/

.container-porque {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.container-esquerda-pq {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #181818;
  width: 65%;
  height: 100%;
}

.container-direita-pq {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181818;
  width: 35%;
  height: 100%;
}

.container-direita-pq img {
  margin-top: 36%;
  width: 100%;
}

.title-pq {
  font-size: 4em;
  color: white;
  font-family: 'Gazpacho', serif;
  text-align: left;
  margin-left: 6%;
  margin-top: 8%;
}

.txt-pq {
  font-size: 1.2em;
  color: white;
  font-family: 'Outfit', sans-serif;
  margin-left: 5%;
  margin-top: 2%;
  width: 90%;
  text-align: left;
}

/* Section Quiz*/

.container-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #181818;
  padding-bottom: 5%;
  padding-top: 5%;
}

#blob1  {
  position: absolute;
  width: 15%;
  margin-left: 5%;
}

#blob2 {
  position: absolute;
  width: 25%;
  margin-left: 75%;
}

#blob3 {
  position: absolute;
  width: 30%;
  margin-left: 65%;
  margin-top: 30%;
}

#blob4 {
  position: absolute;
  width: 50%;
  margin-right: 10%;
  margin-top: 15%;
}

#blob5 {
  position: absolute;
  width: 20%;
  margin-top: 15%;
}

#blob6 {
  position: absolute;
  width: 25%;
  margin-left: 75%;
  margin-top: 17%;
}

.title-quiz {
  width: 90%;
  color: white;
  font-size: 3.2em;
  font-family: 'Gazpacho', serif;
  text-align: center;
  font-weight: 600;
}

.txt-quiz {
  width: 40%;
  color: white;
  font-size: 1.2em;
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
  margin-top: 1%;
  text-align: center;
}

.content-quiz {
  margin-top: 3%;
  width: 50%;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #383838;
  border-radius: 3%;
  padding: 2%;
}

.PerguntaQuiz {
  margin-top: 1%;
  border-radius: 10px;
  width: 90%;
  height: 25%;
  background-color: white;
  color: black;
  font-family: 'Outfit', bold;
  text-align: center;
  font-size: 1.6em;
  padding: 2%;
  font-weight: 600;
}

.respostas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.alternativa {
  margin-top: 3%;
  width: 80%;
  height: 30%;
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  color: black;
  font-size: 2em;
  font-family: 'Outfit', bold;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.alternativa:hover {
  opacity: 1;
}

.container-btn-quiz {
  margin-top: 2%;
  width: 50%;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #242424;
  border-radius: 3%;
  padding: 2%;
  position: relative;
  justify-content: center;
}

.btn-quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title-final {
  width: 80%;
  color: white;
  font-size: 1.8em;
  font-family: 'Gazpacho', serif;
  text-align: center;
  font-weight: 600;
}

.container-btn-quiz h3 {
  width: 80%;
  color: white;
  font-size: 1.8em;
  font-family: 'Gazpacho', serif;
  text-align: center;
  font-weight: 600;
}

.container-quiz button {
  width: 14vw;
  height: 5vh;
  border: none;
  border-radius: 3px;
  margin-top: 10%;
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  background: rgb(112, 21, 194);
  background: linear-gradient(48deg,
      rgba(112, 21, 194, 1) 0%,
      rgba(146, 47, 250, 1) 50%,
      rgba(196, 85, 255, 1) 100%);
}

/*footer*/

.container-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  position: relative;
  background-color: #383838;
  padding-bottom: 1%;
  padding-top: 2%;
  bottom: 0;
  margin-bottom: 0;
}

.esquerda {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 15vh;
  align-items: center;
}

.direita {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  align-items: center;
}

.sociais {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 1%;
}

.sociais img {
  width: 3.5vw;
  height: 3.5vh;
  opacity: 0.4;
}

.itens-footer {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.itens-footer a {
  text-decoration: none;
  font-family: 'Outfit', sans-serif;
  color: white;
  opacity: 0.6;
  font-size: 1.4em;
  cursor: pointer;
}

.assinatura {
  font-family: 'Outfit', sans-serif;
  margin-top: 4%;
  margin-top: 4%;
}

.assinatura h3 {
  font-size: 0.9em;
  color: white;
  opacity: 0.4;
  font-family: 'Outfit', sans-serif;
}

#btn-footer {
  background-color: black;
  color: white;
  width: 120px;
  height: 30px;
  font-family: 'Outfit', sans-serif;
  padding: 1.5%;
}

#desc-btn {
  font-size: 1em;
  color: white;
  width: 50%;
  text-align: left;
  font-family: 'Outfit', sans-serif;
}

.container-contato {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 65%;
  margin-top: 4%;
  margin-bottom: 2%;
  gap: 10%;
}

.detalhe1 {
  width: 50%;
  height: 2px;
  margin-top: 1%;
  opacity: 0.4;
  background-color: white;
}

.detalhe2 {
  width: 65%;
  height: 2px;
  margin-top: 1%;
  opacity: 0.4;
  background-color: white;
}

.correct {
  outline: green 4px solid;
}

.incorrect {
  outline: red 4px solid;
}